/dataset
/experiment
/quorum
/population
/pytorch
/torchvision
/dissection
/perturbation
/testdir
/.ipynb_checkpoints
*.pyc
*.__*
*.*swp
/config.json
/amt/account-info.txt
/train/model
/train/dataset
